%table.table
  %thead
    %tr
      %th Имя
      %th Статус
      %th Зарплата
      %th Умения
      %th
  %tbody
    - employees.each do |employee|
      %tr
        %td= employee.name
        %td= t "activerecord.attributes.employee.statuses.#{employee.status}"
        %td= number_to_currency employee.salary, unit: ''
        %td= employee.skill_list
        %td
          = link_to 'просмотр', employee_path(employee), class: 'btn btn-primary btn-xs'
          -# = link_to 'редактировать', edit_employee_path(employee), class: 'btn btn-success btn-xs'
